# =========================================
# SPRING PROFILE
# =========================================
SPRING_PROFILES_ACTIVE=prod

# =========================================
# APPLICATION
# =========================================
PORT=8083

# =========================================
# POSTGRESQL
# =========================================
POSTGRES_URL=jdbc:postgresql://postgres:5432/sales
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# =========================================
# JWT
# =========================================
JWT_SECRET=8c4a5f1d7b9e2c6a4f8d1e7b3c9a2f6d5e8b1c7a4f9d2e6b3c8a1f5d7e9b4c2
JWT_ISSUER=ecommerce-production
JWT_AUDIENCE=ecommerce-platform

# =========================================
# EUREKA
# =========================================
EUREKA_URL=http://discovery-server:8761/eureka/

# =========================================
# RABBITMQ
# =========================================
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_VIRTUAL_HOST=/

# =========================================
# LOGGING
# =========================================
LOG_LEVEL_ROOT=WARN
LOG_LEVEL_APP=INFO