# =========================================
# SPRING PROFILE
# =========================================
SPRING_PROFILES_ACTIVE=prod

# =========================================
# APPLICATION
# =========================================
PORT=8085

# =========================================
# RABBITMQ
# =========================================
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_VIRTUAL_HOST=/

# =====================================
# BREVO SMTP CONFIGURATION
# =====================================
BREVO_HOST=smtp
BREVO_PORT=587
BREVO_USERNAME=apikey
BREVO_PASSWORD=your_api_key_here

# =====================================
# EMAIL DEFAULTS
# =====================================
MAIL_FROM=your_email@gmail.com

# =========================================
# LOGGING
# =========================================
LOG_LEVEL_ROOT=WARN
LOG_LEVEL_APP=INFO