# =========================================
# SERVER
# =========================================
PORT=8080

# =========================================
# EUREKA
# =========================================
EUREKA_URL=http://localhost:8761/eureka/

# =========================================
# JWT
# =========================================
JWT_SECRET=collabrium-development-secret-key-256-bits-long
JWT_ISSUER=collabrium
JWT_AUDIENCE=collabrium-platform