# =========================================
# SERVER
# =========================================
PORT=8080

# =========================================
# EUREKA
# =========================================
EUREKA_URL=http://discovery-server:8761/eureka/

# =========================================
# JWT
# =========================================
JWT_SECRET=collabrium-super-secret-production-key-with-at-least-64-bytes-for-hs384-jwt-signing
JWT_ISSUER=collabrium
JWT_AUDIENCE=collabrium-platform