# =========================================
# SPRING PROFILE
# =========================================
SPRING_PROFILES_ACTIVE=prod

# =========================================
# SERVER
# =========================================
SERVER_PORT=8761

# =========================================
# SPRING
# =========================================
SPRING_APPLICATION_NAME=discovery-server
APPLICATION_VERSION=1.0.0
APPLICATION_DESCRIPTION='E-Commerce Discovery Server'

# =========================================
# EUREKA
# =========================================
EUREKA_DEFAULT_ZONE=http://discovery-server:8761/eureka/
EUREKA_HOSTNAME=discovery-server
EUREKA_PREFER_IP_ADDRESS=true
EUREKA_ZONE=docker

# =========================================
# ACTUATOR
# =========================================
MANAGEMENT_BASE_PATH=/actuator