# =========================================
# SPRING PROFILE
# =========================================
SPRING_PROFILES_ACTIVE=dev

# =========================================
# APPLICATION
# =========================================
PORT=8084

# =========================================
# JWT
# =========================================
JWT_SECRET=dev-ecommerce-jwt-secret-key-2026-local-development
JWT_ISSUER=ecommerce-dev
JWT_AUDIENCE=ecommerce-web

# =========================================
# EUREKA
# =========================================
EUREKA_URL=http://localhost:8761/eureka/

# =========================================
# RABBITMQ
# =========================================
RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_VIRTUAL_HOST=/

# =========================================
# LOGGING
# =========================================
LOG_LEVEL_ROOT=INFO
LOG_LEVEL_APP=DEBUG

# =========================================
# CLOUDINARY
# =========================================
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloduinary_api_secret