# Servicio
SPRING_APPLICATION_NAME=ai-service
SERVER_PORT=8090
LOG_LEVEL=DEBUG

# Eureka
EUREKA_SERVER_URL=http://localhost:8761/eureka/
EUREKA_REGISTER=true
EUREKA_FETCH=true
EUREKA_PREFER_IP=true

# LM Studio
OPENAI_BASE_URL=http://127.0.0.1:1234
OPENAI_API_KEY=test
OPENAI_MODEL=qwen3-4b-instruct-2507
OPENAI_TEMPERATURE=0.2
OPENAI_MAX_TOKENS=1000
OPENAI_TOP_P=0.9
OPENAI_FREQUENCY_PENALTY=0.0
OPENAI_PRESENCE_PENALTY=0.0

# Gemini (si se usa)
GEMINI_API_KEY=tu-api-key
GEMINI_MODEL=gemini-2.5-flash
GEMINI_TEMPERATURE=0.7
GEMINI_MAX_TOKENS=2048

# Logs
FEIGN_LOG_LEVEL=DEBUG
SPRING_AI_LOG_LEVEL=DEBUG

# Swagger
SPRINGDOC_API_DOCS_ENABLED=true
SPRINGDOC_SWAGGER_UI_ENABLED=true